<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODO</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    
</head>
<body class="bg-gray-900 text-white">
    <div class="flex h-screen">
        <div class="m-auto shadow-xl rounded-xl bg-gray-800">
          <div class="flex justify-center">
            <!-- <%if(msg_1 ){%>
            <h1 class="text-xl font-bold "><%=msg_1%> <span class="text-yellow-400 font-bold text-xl"> Added</span> </h1>
            <%}%> -->
          </div>
          <div class="flex justify-center">
            <%if(msg_2 ){%>
            <h1 class="text-xl font-bold p-4"><%=msg_2%> <span class="text-green-400 font-bold text-xl"> Completed</span> </h1>
            <%}%>
          </div>
            <div class="table-responsive">
                <table class="table card-table table-vcenter ">
                  <thead>
                    <tr>
                      <th class="text-xl p-4 font-semibold">SL</th>
                      <th class="text-xl p-4 font-semibold">todo</th>
                      <!-- <th class="text-xl p-4 font-semibold">Time Remaing </th> -->
                      <th class="text-xl p-4 font-semibold">status </th>
                      
                    </tr>
                  </thead>
                  <tbody>
                      <% for(let i = 0 ; i < Alltodo.length ; ++i){ %>
                    <tr>
                      <td class="text-xl px-4 font-semibold">
                        <%=i+1%>
                      </td>
                      <td class= "text-xl px-4 font-semibold">
                        -<%=Alltodo[i].todo %>
                      </td>
                      <!-- <td class = "text-xl px-4 font-semibold">
                        <%=Alltodo[i].date%>
                    </td> -->
                      <td class = "text-xl px-4 font-semibold" >
                        <% if(Alltodo[i].status === 'Uncompleted'){
                            var tag = "text-red-400"
                        }else{
                            var tag = "text-green-400 text-white"
                        }
                        %>
                        
                            <a  class="<%=tag%>" href="/status/<%=Alltodo[i]._id %>"><%= Alltodo[i].status %></a>
                      
                      
                    </td>
                   
                    </tr>
                    <% }%>
    
                  </tbody>
                </table>
                <br>
                <form method="POST" action="/addTodo">
                    <div class="flex justify-around">
                        <input type="text" name="todo" placeholder="Add a  new todo" class=" focus:outline-none text-xl font-semibold text-center border-none py-2 rounded-full bg-gray-700">
                        <!-- <input type="text" name="date" placeholder="i.e = 12/12/2012" class=" focus:outline-none text-xl font-semibold text-center border-none py-2 rounded-full bg-gray-700"> -->
                        <button type="submit" class="p-2 bg-gray-700 rounded-full ">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
                              </svg>
                        </button>
                    </div>
                </form>
                <br>
        </div>
      </div>
     
    </div>

</body>
</html>